

<h2>Stock List</h2>

  <a href="/shop/new">Add Item</a>

<hr/>
<p>Filter By:</p>
    <nav class="navbar">
      <ul id="navlist">
  <% @cats.each do |cat| %>
        <li><a href="/shop/filter/<%=  cat.id %>"><%= cat.name %></a></li>
  <% end %>
</ul>
</nav>


<% @items.each do |item| %>
<div class="indexitem">

  <div class="itemimg">
<img src="../../images/<%= item.image_name %>" alt="Item Image" height="42" width="42">
</div>
<p>Name: <%= item.name %></p>
<p>Quantity: <%= item.quantity %></p>

<a href="/shop/<%=item.id %>">Details</a>
</div>
<% end %>
