<h2><%= @item.name %></h2>

<% if @item.stock_warn() == "low" %>
  <div class="stocktag">Low Stock!</div>
<% elsif @item.stock_warn() == "none" %>
  <div class="stocktag nostock">No Stock!</div>
<% else %>
<div class="stocktag hide">for spacing</div>
<% end %>

<div class="imgframe">
  <div class="itemimg">
    <img src="../images/<%= @item.image_name %>" alt="Item Image" height="42" width="42">
  </div>
</div>



  <div class="attritem">Description: <%= @item.description %></div>


<div class="itembound">

  <div class="attrlist">
    <div class="attritem">Type: <%= @item.type.name %></div>
    <div class="attritem">Quantity: <%= @item.quantity %></div>
    <div class="attritem">Level: <%= @item.level %></div>
    <div class="attritem">Effects: <%= @item.effects %></div>
  </div>

  <div class="attrlist">

    <div class="attritem">Buy Price: <%= @item.buy_price %></div>
    <div class="attritem">Sell Price: <%= @item.sell_price %></div>
    <div class="attritem">Margin: <%= @item.margin %></div>
  </div>
</div>




<form action="/shop/stockch/<%= @item.id %>" method="post">
  <label for="chamt">Sell Item:</label>
  <input type="hidden" name="chtype" id="chtype" value="sub">
  <input type="number" name="chamt" id="chamt" value="1">
  <% if @item.quantity >= 1  %>
  <input type="submit" value="Sell">
  <% else %>
<input class="hide" type="submit" value="Sell">
  <% end %>
</form>

<form action="/shop/stockch/<%= @item.id %>" method="post">
  <label for="chamt">Buy Item:</label>
  <input type="hidden" name="chtype" id="chtype" value="add">
  <input type="number" name="chamt" id="chamt" value="1">
  <input type="submit" value="Buy">
</form>

<hr/>
<nav>
  <ul>
    <li>
      <a href="/shop/edit/<%=@item.id %>">Edit Item</a>
    </li>
    <li>
      <a href="/shop/del/<%=@item.id %>">Delete Item</a>
    </li>
  </ul>
</nav>

<hr/>
