

<h2>Stock List</h2>

  <a class="navinline" href="/shop/new">Add Item</a>

<div class="navinline hilite">
<div class="attrlist">Filter:</div>


  <% @cats.each do |cat| %>
        <a class="attrlist" href="/shop/filter/<%=  cat.id %>"><%= cat.name %></a>
  <% end %>
  <a class="attrlist" href="/shop">Remove Filter</a>

</div>

<div class="itembound">

  <% @items.each do |item| %>
  <div class="indexitem">

    <div class="itemimg">
  <img src="../../images/<%= item.image_name %>" alt="Item Image" height="42" width="42">
  </div>
  <div><%= item.name %></div>
  <div>Quantity: <%= item.quantity %></div>

  <a href="/shop/<%=item.id %>">Details</a>
  </div>
  <% end %>
</div>
