<h2><%= @item.name %></h2>

<hr/>

<img src="../images/<%= @item.image_name %>" alt="Item Image" height="42" width="42">

<p>Description: <%= @item.description %></p>
<p>Type: <%= @item.type.name %></p>
<p>Quantity: <%= @item.quantity %></p>
<p>Level: <%= @item.level %></p>
<p>Effects: <%= @item.effects %></p>
<p>Buy Price: <%= @item.buy_price %></p>
<p>Sell Price: <%= @item.sell_price %></p>
<p>Margin: <%= @item.margin %></p>
<br>

<% if @item.stock_warn() == "low" %>
<p>Low Stock!</p>
<% elsif @item.stock_warn() == "none" %>
<p>No Stock!</p>
<% end %>
<br>

<form action="/shop/stockch/<%= @item.id %>" method="post">
  <label for="chamt">Sell Item:</label>
  <input type="hidden" name="chtype" id="chtype" value="sub">
  <input type="number" name="chamt" id="chamt" value="1">
  <input type="submit" value="Sell">
</form>

<form action="/shop/stockch/<%= @item.id %>" method="post">
  <label for="chamt">Buy Item:</label>
  <input type="hidden" name="chtype" id="chtype" value="add">
  <input type="number" name="chamt" id="chamt" value="1">
  <input type="submit" value="Buy">
</form>

<hr/>
<nav>
  <ul>
    <li>
      <a href="/shop/edit/<%=@item.id %>">Edit Item</a>
    </li>
    <li>
      <a href="/shop/del/<%=@item.id %>">Delete Item</a>
    </li>
  </ul>
</nav>

<hr/>
