
<p>Edit item!</p>
<br>
<form action="/shop/<%= @item.id %>" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name" value="<%= @item.name %>">
<br>
<br>
<label for="description">Description:</label>
<input type="textarea" name="description" id="description" value="<%= @item.description %>">
<br>
<br>


<label for="type_id">Type:</label>
<select name="type_id" id="type-id">
<% @types.each do |type| %>
    <% if type.id == @item.type_id  %>
      <option value=<%= type.id %> selected><%= type.name %> (<%= type.category %>)</option>
    <% else %>
      <option value=<%= type.id %>><%= type.name %> (<%= type.category %>)</option>
    <% end %>
<% end %>
</select>

<br>
<br>
<label for="image_name">Image Name:</label>
<input type="text" name="image_name" id="image-name" value="<%= @item.image_name %>">
<br>
<br>
<label for="quantity">Quantity:</label>
<input type="number" name="quantity" id="quantity" value="<%= @item.quantity %>">
<br>
<br>
<label for="level">Level:</label>
<input type="number" name="level" id="level" value="<%= @item.level %>">
<br>
<br>
<label for="effects">Effects:</label>
<input type="text" name="effects" id="effects" value="<%= @item.effects %>">
<br>
<br>
<label for="buy_price">Buy Price:</label>
<input type="number" name="buy_price" id="buy-price" value="<%= @item.buy_price %>">
<br>
<br>
<label for="sell_price">Sell Price:</label>
<input type="number" name="sell_price" id="sell-price" value="<%= @item.sell_price %>">
<br>
<br>
  <input type="submit" value="Create Item">
</form>
